.App {
  text-align: center;
  margin: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  color: #000;
  text-align: left;
  padding: 0em 0em 0em 1em;
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}