.inputTitle {
    margin-top: 1em;
    grid-column: 2 / 2;
}

.inputValue {
  margin-top: 1em;
  grid-column: 3 / 3;
}

.inputButtons {
  grid-column: 4 / 4;
  display: inline-block;
  margin-bottom: 2em;
}

input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  border-color: lightgrey;
  padding-top: 0.2em;
  width: 95%;
  height: 2em;
  padding-bottom: 0.2em;
}

input[type=text] {
  margin-left: 1em;
  padding-left: 0.5em;
  font-size: 1.2em;
}

input[type=number] {
  font-size: 1.2em;
  padding-right: 0.5em;
  text-align: right;
}

.noHover:hover {
  background-color: white;
}